language: ruby

# http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
#
sudo: false

# http://docs.travis-ci.com/user/caching/
#
cache: bundler
before_install:
  - gem install bundler

matrix:
  allow_failures:
    - env: rdoc=master
    - rvm: jruby-head
  include:
    - { rvm: 1.9.3, env: rdoc=master }
    - { rvm: 2.0.0, env: rdoc=master }
    - { rvm: 2.1.0, env: rdoc=master }
    - { rvm: 2.2.9, env: rdoc=master }
    - { rvm: 2.3.6, env: rdoc=master }
    - { rvm: 2.4.2, env: rdoc=master }
    - { rvm: 2.5.0, env: rdoc=master }
    - { rvm: ruby-head, env: rdoc=master }
    - { rvm: jruby-head, env: rdoc=master }
